{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">         
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Add Your Profile</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <section id="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="add-resume box">
				      <form class="form-ad" method="post">{% csrf_token %}
					     <h3>Basic information</h3>
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input type="text" name="name" class="form-control" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Phone</label>
                  <input type="text" name="phone" class="form-control" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="text" name="email" class="form-control" autocomplete="off" required>
                </div>
<!--                 <div class="form-group">
                  <label class="control-label">Gender: </label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="Male" name="gender" value="Male">
                  &nbsp;<label for="Male">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="Female" name="gender" value="Female">
                  &nbsp;<label for="Female">Female</label><br>
                </div> -->
                <div class="form-group">
                  <label class="control-label">Address</label>
                  <input type="text" name="city_of_residence" autocomplete="off" class="form-control">
                </div>
                <h3>Educational Background</h3>
                <div class="form-group">
                  <label class="control-label">Highest Qualification</label>
                  <input type="text" name="highest_education" autocomplete="off" class="form-control" placeholder="Eg. BTech">
                </div>
                <div class="form-group">
                  <label class="control-label">Key Skills</label>
                  <input type="text" name="key_skills" autocomplete="off" class="form-control" >
                </div>
                <h3>Work Experience</h3>
                <div class="form-group">
                  <label class="control-label">Total Experience</label>
                  <select name="total_experience" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">5-10</option>
                    <option value="11">10+</option>
                  </select>
                </div>
						    <input type="submit" value="Add New Profile" class="btn btn-common" />
				      </form>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}